<!-- <p>navbar works!</p> -->
<nav class="flex bg-white h-[4rem] w-full top-0 shadow-md">
  <div class="hidden md:flex justify-around items-center h-full w-full">
    <a 
      routerLink="/home" 
      routerLinkActive="active"
      class="flex rounded-sm w-[4rem] items-center justify-center hover:cursor-pointer"
    >
      Home
    </a>
  
    <a 
      routerLink="/cart" 
      routerLinkActive="active"
      class="flex rounded-sm w-[4rem] items-center justify-center hover:cursor-pointer"
    >
      Cart
    </a>
  
    <a 
      routerLink="/search" 
      routerLinkActive="active"
      class="flex rounded-sm w-[4rem] items-center justify-center hover:cursor-pointer"
    >
      Search
    </a>
  
    <a 
      routerLink="/about" 
      routerLinkActive="active"
      class="flex rounded-sm w-[4rem] items-center justify-center hover:cursor-pointer"
    >
      About
    </a>
  
    <a 
      routerLink="/contacts" 
      routerLinkActive="active"
      class="flex rounded-sm w-[4rem] items-center justify-center px-10 hover:cursor-pointer"
    >
      Contacts
    </a>
  </div>
  
</nav>


<router-outlet></router-outlet>